doctype html
html
  head
    title An Important Title For an Important Landing Page
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    link(rel='stylesheet', href='css/app.css')
    script(src='js/app.js')
  body
    .hero
        nav.row
          .col-md-12
            a.logo(href='/')

        .row.text-center.call-to-action
            h1 Subscribe to the newest UI/UX weekly newsletter
            h2 POPULAR WORKS. FREEBIES. TIPS AND TRICKS.
        .row.text-center
          
          <script type="text/javascript" src="//app.mailerlite.com/data/webforms/41751/a5e2j9.js?v4"></script>
    